@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="mb-4">Patient Journal System</h1>

<div class="row g-3">
    <div class="row-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>Journal Entries</h5>
                <p>View medical notes.</p>
                <a asp-page="/Journal" class="btn btn-primary btn-sm">
                    Go to Journal
                </a>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>My profile</h5>
                <p>View or update your profile.</p>
                <a asp-page="/Profile" class="btn btn-primary btn-sm">
                    Go to Profile
                </a>
            </div>
            <div class="card shadow-sm">
            </div>
        </div>